/* LIGHTBOX */

.lightbox {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    overflow: auto;
    opacity: 1;
    animation: lightbowIn 500ms;
    transition: opacity 300ms;
}

.fadeOut {
    opacity: 0;
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox-next,
.lightbox-prev {
    background: url('../assets/icons/arrow.svg') center center / 30px 48px no-repeat;
    width: 100px;
    height: 100%;
    top: 0;
    z-index: 2;
    right: 0;
}

.lightbox-prev {
    left: 0;
    right: auto;
    transform: rotate(180deg);
}

.lightbox-close {
    height: 42px;
    width: 42px;
    background: url("../assets/icons/close.svg") center center / 100% 100% no-repeat;
    top: 30px;
    right: 30px;
    z-index: 3;
}

.lightbox button {
    cursor: pointer;
    border: none;
    color: transparent;
    transition: opacity 0.3s;
    opacity: 0.5;
    position: fixed;
}

.lightbox button:hover, .lightbox button:focus {
    opacity: 1;
}

.lightbox-container img, .lightbox-container video {
    max-width: 100%;
    height: auto;
    animation: lightbowIn 500ms;
    display: block;
    max-height: calc(100vh - 100px);
    border-radius: 5px;
    border-right: 5px solid #C4C4C4;
}

.lightbox-container img {
    cursor: zoom-in;
}

img.big {
    max-height: unset;
    max-width: unset;
    width: 100%;
    z-index: 1000;
    cursor: zoom-out;
}

.lightbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: fit-content;
    max-width: calc(100% - 200px);
}

.lightbox-container.big {
    max-width: unset;
    width: 100%;
    height: unset;
}

.lightbox-loader {
    width: 100px;
    height: 100px;
    opacity: 0.8;
    background: url("../assets/icons/loader.svg") center center / 100% 100% no-repeat;
}

#lightbox-title {
    font-size: 24px;
    font-weight: 400;
    align-self: start;
}

@keyframes lightbowIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}