@import url('lightbox.css');
@import url('custom-select.css');

#modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    padding: 10px 50px;
    display: grid;
    grid-template:
             "a b c" / 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.photograph-header div {
    grid-area: a;
    justify-self: start;
}

.photograph-header h1 {
    font-size: 64px;
    margin: 0;
}

.photograph-header img {
    justify-self: flex-end;
}

.photograph-header .photographer-details {
    text-align: start;
}

.photograph-header .photographer-location {
    color: #901C1C;
    font-size: 24px;
    margin-bottom: 20px;
}

.photograph-header .photographer-tagline {
    font-size: 18px;
    color: #525252;
}

.photograph-header .photographer-price {
    display: none;
}

/* MEDIAS CONTAINER */

.medias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2em;
}

.medias-container article {
    width: 30%;
    height: 350px;
}

.medias-container article > a {
    border-radius: 5px;
    overflow: hidden;
    display: block;
    height: calc(100% - 50px);
}

.medias-container article img,
.medias-container article video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.media-banner {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    align-items: center;
}

.media-banner p {
    font-size: 24px;
    line-height: 31px;
    margin: 0;
}

.media-banner-likes {
    border: none;
    background-color: transparent;
    color: #901C1C;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.media-banner-likes .likes-img {
    width: 19px;
    height: 19px;
}

.likes-number {
    font-weight: 500;
    font-size: 24px;
}

.total-likes-container {
    display: flex;
    align-items: center;
    gap: 7px;
}

article a img {
    transition: transform 500ms ease-in-out;
}

article a img:hover {
    transform: scale(1.2);
}

/* INSERT */

.fixed-insert {
    width: 280px;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 5%;
    padding: 21px 34px;
    background: #DB8876;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.fixed-insert > * {
    padding: 0;
    margin: 0;
    color: #000 !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 31px !important;
}

/* MODAL */
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#modal {
    position: fixed;
    inset: 0;
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: auto;
    transition: opacity 300ms;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    padding: 35px;
    margin: auto;
    max-width: 670px;
    width: 90%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal header h1 {
    font-size: 64px;
    color: #000;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

form {
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form .contact_button {
    margin-top: 20px;
}

form label {
    width: 100%;
    color: #312E2E;
    font-size: 36px;
}

form label[for='message'] {
    margin-top: 10px;
}

input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}

#message {
    height: 170px;
}

@media screen and (max-width: 992px) {
    /* PHOTOGRAPHER HEADER */
    .photograph-header {
        grid-template:
            "a b"
            "c c" / 1fr 1fr;
    }

    .contact_button {
        grid-area: c;
    }

    /* INSERT */
    .fixed-insert {
        padding: 10px 25px;
    }

    /* MEDIAS SECTION */
    .medias-container article {
        width: 48%;
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    /* PHOTOGRAPHER HEADER */
    .photograph-header {
        margin-top: -20px;
        grid-template:
            "a"
            "b"
            "c"/ 1fr;
        gap: 1em;
    }

    .photograph-header div, .photograph-header img {
        justify-self: unset;
    }

    .photograph-header div * {
        text-align: center;
    }

    .photograph-header h1 {
        font-size: 2em;
    }

    .photograph-header .photographer-location {
        font-size: 1.3em;
    }

    /* INSERT */
    .fixed-insert {
        width: 250px;
        right: 50%;
        transform: translateX(50%);
        padding: 5px 15px;
    }

    /* MEDIAS CONTAINER */
    .medias-container article {
        width: 100%;
        height: 350px;
    }

    /* FORM MODAL */
    .modal header h1 {
        font-size: 30px;
    }

    .modal {
        padding: 10px;
        width: 100%;
    }

    .close-btn img {
        width: 30px;
    }

    form {
        margin-top: 0;
    }

    form label {
        font-size: 1.2em;
    }

    form input {
        height: 50px;
    }

    #message {
        height: 100px;
    }

    .contact_button {
        height: unset;
    }
}

form button, select, .contact_button {
    transition: background-color 300ms, color 300ms;
}

form button:hover, select:hover, .contact_button:hover,
form button:focus, select:focus, .contact_button:focus {
    background-color: #D3573C;
    color: #000;
}

.input-error {
    font-size: 14px;
    color: #FFF;
}


/* LOADER */

.loader {
    z-index: 10;
    transition: opacity 300ms;
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8) url("../assets/icons/loader-white.svg") center center no-repeat;
}

.loader-text {
    opacity: 0;
}

/* Error display */
[aria-label=erreur] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

[aria-label=erreur] h1 {
    margin-top: 2em;
}

[aria-label=erreur] a {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 30px;
}
